.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 190px;
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
  margin: 25px 0;
  padding: 0;
  color: #999999;
  max-width: 90%;
}

#about .about-descr .separator {
  max-width: 80%;
  text-align: left;
  margin: 25px 0;
  line-height: 28px;
  color: #999999;
  padding: 0;
}

.resume-btn {
  background-color: #00b4d9;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}

.skills {
  background: #F0F0F0;
}

.section-padding {
  padding: 60px 0;
}

.section-title {
  color: #252525;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}

.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -15px;
  margin-left: -15px;
}

.skill-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  height: 64px;
  width: 64px;
}

.skill-txt {
  margin-top: 5px;
  color: #252525;
}