.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 190px;
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
  margin: 25px 0;
  padding: 0;
  color: #333;
  max-width: 90%;
}

#about .about-descr .separator {
  max-width: 90%;
  text-align: left;
  margin: 25px 0;
  line-height: 28px;
  color: #333;
  padding: 0;
}

.resume-container {
  max-width: 90%;
  display: flex;
  justify-content: center;
}

.resume-btn {
  background-color: #00b4d9;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}

.skills {
  background: #F0F0F0;
}

.section-padding {
  padding: 60px 0;
}

.section-title {
  color: #252525;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 38px;
  padding: 0 10px;
  position: relative;
}

.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.skill-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  height: 85px;
  width: 85px;
}

.skill-icon {
  height: 64px;
  width: 64px;
}

.skill-txt {
  margin-top: 5px;
  color: #252525;
  font-size: 16px;
}

.timeline {
  position: relative;
}

.timeline .timelin-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 25px;
}

.timeline li {
  padding: 0 20px 20px 30px;
  list-style: none;
  border-left: 2px solid #f1f1f1;
}

.timeline li .content-text {
  background: #f2f2f2;
  padding: 20px;
}

.timeline li .line-title {
  font-size: 15px;
  line-height: 6px;
}

.timeline li span {
  font-size: 12px;
  padding: 9px 0;
  display: block;
}

.timeline li .line-text {
  color: #888;
  line-height: 18px;
}

.timeline li:first-child:before {
  border: 0;
  background: none;
  position: relative;
}

.timeline li:last-child {
  padding: 0 20px 0px 30px;
}

.timeline li:before {
  content: "";
  border: solid 2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -35px;
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: 18px;
  border-color: #00b4d9 !important;
}

.timeline li:first-child i {
  font-size: 20px;
  float: left;
  margin-left: -30px;
  line-height: 50px;
  border-radius: 30px;
  margin: -12px -55px;
  background: #00b4d9;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
}

.date {
  color: inherit;
}

.portfolio-item {
  margin: 0;
}

.shot-item {
  margin-right: 15px;
  border-radius: 4px;
  background: #fff;
  position: relative;
}

.shot-item img {
  width: 100%;
}

.shot-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 180, 217, 0.6);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.shot-item:hover .overlay {
  opacity: 1;
}

.overlay {
  opacity: 0;
}

.overlay .icons i {
  height: 42px;
  width: 42px;
  line-height: 42px;
  color: #00b4d9;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  top: 50%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff;
  border-radius: 4px;
}

.overlay .preview {
  position: absolute;
  left: 45%;
  top: 50%;
  color: #fff;
}

.overlay .link {
  position: absolute;
  left: 60%;
  margin-left: 10px;
  top: 50%;
  color: #fff;
}

.shot-item:hover .overlay {
  opacity: 1;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

#work .portfolio-item .shot-item {
  margin: 0px;
}

/* Footer Area Start */
.footer-area {
  background: #1C1C20;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.footer-area .footer-text p a {
  color: #00b4d9;
}

.footer-area .footer-text .nav-inline .nav-link {
  padding: 11px 7px;
  color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
  color: #00b4d9;
}

.footer-2 {
  background: #252525;
}

.footer-2 img {
  margin-top: -8px;
}

.footer-2 h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-2 p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

.footer-2 ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer-2 ul li a:hover {
  color: #00b4d9;
}

.social-icon li {
  display: inline-block;
}

.portfolio-description {
  margin-top: 20px;
  max-width: 95%;
}

.portfolio-description-title {
  text-align: center;
}

.portfolio-description-paragraph {
  margin-left: 10px;
  color: #515769;
}

.portfolio-description-technology {
  margin-left: 10px;
  color: #515769;
}

.portfolio-description-list {
  margin-left: 10px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
}

.portfolio-button {
  background-color: #00b4d9;
  color: white;
  height: 2.75em;
  line-height: 2.75em;
  letter-spacing: 0.125em;
  padding: 0 2em;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 4px;
  text-indent: 0.125em;
  text-transform: uppercase;
  margin: 10px;
}